body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #A1D6E2;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1995AD;
    padding: 10px 20px;
}

.logo {
    max-width: 200px;
    max-height: 150px;
    margin: 10px;
}

#blank {
    background-color: #A1D6E2;
    box-shadow: none;
    cursor: default;
}

.craft-types-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #A1D6E2;
}

#craft-types-buttons {
    position: relative;
    overflow: hidden;
    margin: 20px;
    width: 100%;
}

#carousel {
    display: flex;
    transition: transform 0.4s ease;
}

.type-btn-text {
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

#types-title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#type-results-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

#craftImg {
    width: 100%;
    max-width: 500px;
}

#resultBackground {
    background-color: #F1F1F2;
    border-radius: 25px;
    padding: 10px;
    min-height: 350px;
    width: 290px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#resultName {
    font-size: 20px;
}

#tagline {
    font-size: 12px;
}

.result-item {
    justify-content: center;
    align-items: center;
}

.resultImg {
    max-width: 150px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.type-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 120px;
    height: 120px;
    text-align: center;
    cursor:pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /* each button only takes up 20% */
    flex: 1 0 20%;
}

.type-btn-img {
    flex: 1;
    max-width: 100%;
    height: auto;
}

#left-btn, #right-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #269f6b58;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
}

#left-btn {
    left: 10px;
}

#right-btn {
    right: 10px;
}

.type-btn:hover {
    transform: scale(1.1);
}

.type-btn-text:hover {
    transform: scale(1.1);
    text-shadow: rgb(236, 231, 212) 1px 0 10px;
}

.hidden {
    display: none;
}



.craft-details-container {
    background-color: #F1F1F2;
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

li img {
    max-width: 300px;
    margin: 20px;
}

li {
    list-style-type: none;
    margin: 5px;
}

.craft-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}